[submodule "wagtail"]
	path = wagtail
	url = https://github.com/kaedroho/wagtail.git
[submodule "wagtail-localize"]
	path = wagtail-localize
	url = https://github.com/wagtail/wagtail-localize.git
[submodule "django-modelcluster"]
	path = django-modelcluster
	url = https://github.com/wagtail/django-modelcluster.git
